{%  extends 'Guest/Header.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CareNLove | Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'Main/img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'Main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Main/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'Main/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'Main/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'Main/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'Main/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'Main/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'Main/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'Main/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'Main/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'Main/css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    
    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcam_text text-center">
                        <h3>Blog</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->


    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <iframe width="730" height="330" src="https://www.youtube.com/embed/S1nUMsPC1-0" frameborder="0" allowfullscreen></iframe>
                                <a href="#" class="blog_item_date">
                                    <h3>02</h3>
                                    <p>Feb</p>
                                </a>
                            </div>
                            
                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Google inks pact for new 35-storey office</h2>
                                </a>
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>
                        
                        

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <video class="card-img rounded-0" controls>
                                    <source src="{% static 'Main/img/blog/Pets.mp4' %}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                                <a href="" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Jan</p>
                                </a>
                            </div>
                        
                            <div class="blog_details">
                                <h2>The Funny Pets|Malayalam Dubbed</h2>
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>
                        

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <!-- <iframe width="730" height="330" src="https://youtu.be/v0O5fXHn7Wk" frameborder="0" allowfullscreen></iframe> -->
                                <iframe width="730" height="330" src="https://www.youtube.com/embed/9xq9XzHw5wA"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <a href="" class="blog_item_date">
                                    <h3>26</h3>
                                    <p>Dec</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <h2>BTS With Pets Run 23 Funny Malayalam Dubbed</h2>
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <video class="card-img rounded-0" controls width="730" height="330">
                                    <source src="{% static 'Main/img/blog/Pets2.mp4' %}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                                <a href="" class="blog_item_date">
                                    <h3>09</h3>
                                    <p>Nov</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <h2>The Funny Pets 😂😍|Malayalam Dubbed</h2>
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img height="330"class="card-img rounded-0" src="{% static 'Main/img/blog/Pets1.jpg' %}" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>08</h3>
                                    <p>Nov</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <h2>My Cutie One, How was it..</h2>
                                <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>

                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Search Keyword'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Search</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Category</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="{% url 'webguest:Login' %}" class="d-flex">
                                        <p>Pet Food&nbsp;</p>
                                        <p>({{food}})</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'webguest:Login' %}" class="d-flex">
                                        <p>Travel news</p>
                                        <p>(10)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'webguest:Login' %}" class="d-flex">
                                        <p>Modern technology</p>
                                        <p>(03)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'webguest:Login' %}" class="d-flex">
                                        <p>Product&nbsp;</p>
                                        <p>({{product}})</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'webguest:Login' %}" class="d-flex">
                                        <p>Health Care&nbsp;</p>
                                        <p>({{hos}})</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Recent Post</h3>
                            <div class="media post_item">
                                <img src="{% static 'Main/img/post/instagramfeed1.jpeg '%}"  style="height: 90px; width:90px" alt="post">
                                <div class="media-body">
                                    <a href="">
                                        <h3>From life was you fish...</h3>
                                    </a>
                                    <p>January 12, 2019</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{% static 'Main/img/post/instagramfeed2.png' %}"  style="height: 90px; width:90px" alt="post">
                                <div class="media-body">
                                        <h3>The Furry Pets</h3>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{% static 'Main/img/post/instagramfeed3.jpg' %}"  style="height: 90px; width:90px" alt="post">
                                <div class="media-body">
                                        <h3>Funny Dog and Cat </h3>
                                    <p>03 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{% static 'Main/img/post/post_4.png' %}"  style="height: 90px; width:90px" alt="post">
                                <div class="media-body">
                                    <a href="">
                                        <h3>Ohh Ohh Ohh</h3>
                                    </a>
                                    <p>01 Hours ago</p>
                                </div>
                            </div>
                        </aside>
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title">Tag Clouds</h4>
                            <ul class="list">
                                <li>
                                    <a href="">Foods</a>
                                </li>
                                <li>
                                    <a href="">Love</a>
                                </li>
                                <li>
                                    <a href="">Technology</a>
                                </li>
                                <li>
                                    <a href="">Travel</a>
                                </li>
                                <li>
                                    <a href="">The Toys</a>
                                </li>
                                <li>
                                    <a href="">Life style</a>
                                </li>
                                <li>
                                    <a href="">Design</a>
                                </li>
                                <li>
                                    <a href="">Illustration</a>
                                </li>
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title">Instagram Feeds</h4>
                            <ul class="instagram_row flex-wrap">
                                <li>
                                    <a href="">
                                        <img class="img-fluid" src="{% static 'Main/img/post/instagramfeed1.jpeg' %}" style="height: 90px; width:90px" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img class="img-fluid" src="{% static 'Main/img/post/instagramfeed2.png' %}" style="height: 90px; width:90px" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img class="img-fluid" src="{% static 'Main/img/post/instagramfeed3.jpg' %}" style="height: 90px; width:90px" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img class="img-fluid" src="{% static 'Main/img/post/post_1.png' %}" style="height: 90px; width:90px" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img class="img-fluid" src="{% static 'Main/img/post/post_5.png' %}" style="height: 90px; width:90px" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img class="img-fluid" src="{% static 'Main/img/post/post_8.png' %}" style="height: 90px; width:90px" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img class="img-fluid" src="{% static 'Main/img/post/post_9.png' %}" style="height: 90px; width:90px" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img class="img-fluid" src="{% static 'Main/img/post/post_10.png' %}" style="height: 90px; width:90px" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title">Newsletter</h4>

                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Subscribe</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->


    <!-- JS here -->
    <script src="{% static 'Main/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'Main/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'Main/js/popper.min.js' %}"></script>
    <script src="{% static 'Main/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Main/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'Main/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'Main/js/ajax-form.js' %}"></script>
    <script src="{% static 'Main/js/waypoints.min.js' %}"></script>
    <script src="{% static 'Main/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'Main/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'Main/js/scrollIt.js' %}"></script>
    <script src="{% static 'Main/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'Main/js/wow.min.js' %}"></script>
    <script src="{% static 'Main/js/nice-select.min.js' %}"></script>
    <script src="{% static 'Main/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'Main/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'Main/js/plugins.js' %}"></script>
    <script src="{% static 'Main/js/gijgo.min.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'Main/js/contact.js' %}"></script>
    <script src="{% static 'Main/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'Main/js/jquery.form.js' %}"></script>
    <script src="{% static 'Main/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'Main/js/mail-script.js' %}"></script>

    <script src="{% static 'Main/js/main.js' %}"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            disableDaysOfWeek: [0, 0],
        //     icons: {
        //      rightIcon: '<span class="fa fa-caret-down"></span>'
        //  }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }

        });
        var timepicker = $('#timepicker').timepicker({
         format: 'HH.MM'
     });
    </script>
</body>
</html>
{% endblock content %}