{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Login/css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Ludiflex | Login</title>
</head>
<body>
    <form method="post" autocomplete="off">
        {% csrf_token %}
    <div class="box">
        <div class="container">
            <div class="top-header">
                <span>Have an account?</span>
                <header>Login</header>
            </div>

            <div class="input-field">
                <input type="email" class="input" placeholder="Email" name="txtemail" required>
                <i class="bx bx-envelope"></i>
            </div>
            <div class="input-field">
                <input type="password" class="input" placeholder="Password"  name="txtpass" required>
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-field">
                <input type="submit" class="submit" value="Login">
            </div>

            <div class="bottom">
                <div class="left">
                    <input type="checkbox"  id="check">
                    <label for="check"> Remember Me</label>
                </div>
                <div class="center">
                    <label><a href="{% url 'webguest:Main Index' %}">Back</a></label>
                </div>
                <div class="right">
                    <label><a href="{% url 'webguest:forpass' %}">Forgot password?</a></label>
                </div>
            </div>
        </div>
    </div>
</form>
{% if msg %}
    <script>
        alert("{{msg}}");
    </script>
{% endif %}
</body>
</html>

