{%  extends 'Admin/HeadFooter.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place</title>
</head>
<br><br>
<body>
<form action="" method="post">
    {% csrf_token %}
    <div class="container-fluid pt-4 px-2 ">
        <div class="row g-4 justify-content-center">
            <div class="col-sm-12 col-xl-6" >
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Place</h6>
                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" name="sel_district"  required=""
                            aria-label="Floating label select example">
                            <option selected>Select</option>
                            {% for i in disdata %}
                            <option {% if i.id == pldata.district_id %}  selected {% endif %}value="{{i.id}}">{{i.district_name}}</option>
                            {% endfor %}
                            
                        </select>
                        <label for="floatingSelect">District</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="Place"  name="txt_place"  value="{{ pldata.place_name }}"
                            placeholder="Place">
                        <label for="Place">Place</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="Pincode"  name="txt_pin" value="{{ pldata.place_pin }}"
                            placeholder="Pincode">
                        <label for="Pincode">Pincode</label>
                    </div>
                
                    <div class="form-floating" align="center">
                        <button type="submit" class="btn btn-outline-success m-2">Success</button>
                        <button type="reset" class="btn btn-outline-light m-2">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4 justify-content-center">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <table align="center"  class="table table-hover">
                        <thead>
                        <tr>
                            <th>Sl.No</th>
                            <th>Distric Name</th>
                            <th>Place Name</th>
                            <th>Pin Code</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        {% for i in dplace %}
                        <tbody>
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ i.district.district_name }}</td>
                            <td>{{ i.place_name }}</td>
                            <td>{{ i.place_pin }}</td>
                            <td>
                                <a href="{% url 'webadmin:Del_place' i.id %}">Delete</a>|
                                <a href="{% url 'webadmin:Edt_place' i.id %}">Edit</a>
                            </td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>
{% endblock content %}